/* COLLAGE SECTION */

.collage-section{

margin:40px;
padding:40px;

background: rgba(255,255,255,0.95);

border-radius:15px;

text-align:center;

}

.collage-section h2{

margin-bottom:30px;

color:#0077cc;

}

/* COLLAGE GRID */

.collage{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:15px;

}

/* IMAGE STYLE */

.collage img{

width:100%;

height:200px;

object-fit:cover;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

transition:0.3s;

}

/* HOVER EFFECT */

.collage img:hover{

transform:scale(1.05);

}